
<footer class="footer">© Amar Hissal</footer>
<script>
    let loader = document.getElementById('preloader');
    window.addEventListener('load',function(){
        loader.style.display='none';
    })
</script>
</body>
</html>
