
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  color: #000;
  background-color: #fff;
}
.error{
  color:red;
}
.icon{
  margin-top: 10px;
}
.footer{
  color: black;
 
  position: fixed; 
  left: 0; bottom: 5%;
  width: 100%;
 text-align: center;
}